div	{
	background-color: azure;
	border: 1px solid aquamarine;
	padding: 30px;
}

a:hover {
	font-size: 20px;
}

h1, h2 {
	font-family: 'Bitter' ,sans-serif ;
}

body, address {
	padding: 30px;
	font-family: Roboto;

}